<style>
    .editAvatar{
        position: absolute;
        bottom: 0;
        left: 0;
        /* line-height: 64px; */
        width: 64px;
        text-align: center;
        /* color: brown; */
        /* font-size: small; */
    }
</style>
<div class="column" id="userinfo">
    <div class="columns is-align-items-center is-marginless">
        <div class="column is-2 has-text-grey-light">头像</div>
        <div class="column">
            <div class="is-flex is-justify-content-space-between is-align-items-center">
                <b-upload v-model="file" class="file-label" rounded accept=".jpg,.png,gif" @input="avatarInput">
                    <figure class="image is-64x64 is-relative" @mouseover="editAvatar=true" @mouseout="editAvatar=false">
                        <img class="is-rounded" :src="avatarSrc">
                        <div class="editAvatar has-background-primary-light">
                            <b-tag type="is-primary is-light" v-show="editAvatar">修改</b-tag>
                        </div>
                    </figure>
                </b-upload>
                
                <button class="button is-success is-outlined is-small" v-if="file.name" @click="saveAvatar">
                    <span class="icon"><i class="mdi mdi-image-edit"></i></span> 
                    <span class="text">保存</span>
                </button>
            </div>
            
        </div>
    </div>
    <div class="dropdown-divider is-marginless"></div>
    <div class="columns is-align-items-center is-marginless">
        <div class="column is-2 has-text-grey-light">用户名</div>
        <div class="column">{{ request.user.username }}</div>
    </div>
    <div class="dropdown-divider is-marginless"></div>
    <div class="columns is-align-items-center is-marginless">
        <div class="column is-2 has-text-grey-light">手机号</div>
        <div class="column is-flex is-justify-content-space-between is-align-items-center">
            <p v-if="!editphone">{$ phone $}</p>
            <div>
                <b-input 
                    v-if="editphone" 
                    size="is-small" 
                    v-model="phone" 
                    @blur="updateUserinfo('phone')">
                </b-input>
            </div> 
            <button class="button is-primary is-small is-outlined" @click="clickUserinfo('phone')">
                <span class="icon"><i class="mdi mdi-phone-settings-outline"></i></span> 
                <span class="text">修改</span>
            </button>
        </div>
    </div>
    <div class="dropdown-divider is-marginless"></div>
    <div class="columns is-align-items-center is-marginless">
        <div class="column is-2 has-text-grey-light">邮箱</div>
        <div class="column is-flex is-justify-content-space-between is-align-items-center">
            <p v-if="!editemail">{$ email $}</p>
            <div>
                <b-input type="email"
                    v-if="editemail"
                    size="is-small"
                    v-model="email"
                    :has-counter="false"
                    @blur="updateUserinfo('email')"
                    maxlength="30">
                </b-input>
            </div>
            <button class="button is-primary is-small is-outlined" @click="clickUserinfo('email')">
                <span class="icon"><i class="mdi mdi-email-edit-outline"></i></span> 
                <span class="text">修改</span>
            </button>
        </div>
    </div>
    <div class="dropdown-divider is-marginless"></div>
    <div class="columns is-align-items-center is-marginless">
        <div class="column is-2 has-text-grey-light">余额</div>
        <div class="column is-flex is-justify-content-space-between is-align-items-center">
            <p v-if="!editbalance">¥ {$ balance $}</p>
            <div v-if="editbalance">
                <b-field>
                    <b-numberinput v-model="balance" size="is-small" min="1" :controls="false"/>
                </b-field>
            </div>
            <p>
                <button class=" button is-primary is-outlined is-small" @click="editbalance=true" v-if="!editbalance">
                    <span class="icon"><i class="mdi mdi-credit-card-settings-outline"></i></span> 
                    <span class="text">充值</span> 
                </button>
                <button class=" button is-success is-small" @click="balanceRecharge" v-if="editbalance">
                    <span class="icon"><i class="mdi mdi-credit-card-settings-outline"></i></span> 
                    <span class="text">提交</span> 
                </button>
            </p>
        </div>
    </div>
    <div class="dropdown-divider is-marginless"></div>
    
    <div class="columns is-align-items-center is-marginless">
        <div class="column is-2 has-text-grey-light">个人简介</div>
        <div class="column is-flex is-justify-content-space-between is-align-items-center">
            <p v-if="!editedesc">{$ about $}</p>
            <div class=" is-flex-grow-1 mr-5">
                <b-input type="textarea"
                    v-if="editedesc"
                    size="is-small"
                    v-model="about"
                    :has-counter="false"
                    @blur="updateUserinfo('about')"
                    maxlength="150">
                </b-input>
            </div>
            <button class="button is-primary is-small is-outlined" @click="clickUserinfo('about')">
                <span class="icon"><i class="mdi mdi-account-cog-outline"></i></span> 
                <span class="text">修改</span>
            </button>

        </div>
    </div>
    <div class="dropdown-divider is-marginless"></div>

</div>

<script>
    var userinfo = new Vue({
        el: '#userinfo',
        delimiters: ['{$', '$}'],
        data: {
            phone: '{{ phone }}',
            email: '{{ owner.email }}',
            about: '{{ about }}',
            balance: parseFloat('{{ request.user.baykeuser.balance }}'),
            editphone: false,
            editemail: false,
            editedesc: false,
            editbalance:false,
            editAvatar: false,
            file: {},
            avatarSrc: "{% if request.user.baykeuser.avatar %}{{ request.user.baykeuser.avatar.url }}{% endif %}"
        },  
        methods:{
            clickUserinfo(name){
                if (name == 'phone'){
                    this.editphone = true
                }else if (name == 'email'){
                    this.editemail = true
                }else if (name == 'about'){
                    this.editedesc = true
                }
            },
            updateUserinfo(name){
                if (name == 'phone'){
                    this.editphone = false
                    if (this.phone !== '{{ phone }}'){
                        this.patchClientUserinfo({phone:this.phone})
                    }
                }else if (name == 'email'){
                    this.editemail = false
                    if (this.email !== '{{ email }}'){
                        this.patchClientUserinfo({email:this.email})
                    }
                }else if (name == 'about'){
                    this.editedesc = false
                    if (this.about !== '{{ about }}'){
                        this.patchClientUserinfo({about:this.about})
                    }
                }
            },
            patchClientUserinfo(data){
                request({
                    url: '{% url "shop:user-update" id %}',
                    method: 'patch',
                    data: data
                }).then(res => {
                    if (res.status == 200){
                        bayke.toastMessage('is-success', '修改成功！')
                    }else if (res.status == 400){
                        if (!this.editphone){
                            this.editphone = true
                        }else if (!this.editemail){
                            this.editemail = true
                        }
                        bayke.toastMessage('is-danger', res.data)
                    }
                })
            },
            // 创建超链接，不会被拦截    
            createSuperLabel(url, id) {      
                let a = document.createElement("a");           
                a.setAttribute("href", url);      
                a.setAttribute("target", "_blank");      
                a.setAttribute("id", id);       
                // 防止反复添加      
                if(!document.getElementById(id)) {                               
                    document.body.appendChild(a);      
                }      
                a.click();
            },  

            // 余额充值
            balanceRecharge(){
                request({
                    url: '{% url "shop_api:user_balance_create" %}',
                    method: 'post',
                    data: {total: this.balance}
                }).then(res => {
                    if (res.status == 200){
                        // location.href = res.data.payurl
                        this.createSuperLabel(res.data.payurl, "balanceRecharge")
                    }
                })
            },

            // 修改头像
            avatarInput(){
                let avatarUrl = URL.createObjectURL(new Blob([this.file], { type: "image/png" }))
                this.avatarSrc = avatarUrl
            },
            // 保存头像
            saveAvatar(){
                let sendData = new FormData();
                sendData.append('avatar', this.file)
                request({
                    url: '{% url "shop:user-update" id %}',
                    method: 'patch',
                    data: sendData
                }).then(res => {
                    if (res.status == 200){
                        bayke.toastMessage('is-success', '上传成功！')
                        setTimeout(function(){
                            location.reload()
                        }, 1000) 
                    }
                })
            }
        }
    })
</script>