{% extends 'baykeshop/base_site.html' %}

{% load shoptags %}

{% block title %}{{ title }}{% endblock %}
{% block meta_desc %}{{ desc }}{% endblock %}
{% block meta_kw %}{{ keywords }}{% endblock %}

{% block breadcrumb %}
<div class="container">
	<nav class="breadcrumb is-marginless mt-3 mb-3 is-small" aria-label="breadcrumbs">
		<ul>
			<li><a href="{% url 'shop:home' %}">首页</a></li>
            {% breadcrumbcate category as cates %}
            {% for cate in cates %}
            <li>
                <a href="">{{ cate.name }}</a>
            </li>
            {% endfor %}
			<li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
		</ul>
	</nav>
</div>
{% endblock %}

{% block container %}
<div class="columns">
    <div class="column is-3">
        {% include 'baykeshop/goods/banners.html' with banners=images %}
    </div>
    <div class="column">
        <h1 class="title is-size-4">{{ title }}</h1>
        <p class="subtitle has-text-grey-dark">{{ subtitle }}</p>
        {% if skutype %}
            <!-- 多规格 -->
            {% include 'baykeshop/goods/multipleSpec.html' %}
        {% else %}
            <!-- 单规格 -->
            {% include 'baykeshop/goods/singleSpec.html' %}
        {% endif %}

        <!-- 加入购物车按钮及一键购买 -->
        <div class="box is-radiusless" id="payButton">
            <b-button 
                type="is-primary"
                @click="addCart"
                :disabled="stock ? false : true">
                加入购物车
            </b-button>
            <b-button 
                type="is-primary" 
                :disabled="stock ? false : true"
                @click="nowBuy"
                outlined>
                立即购买
            </b-button>
        </div>
        <!-- 加入购物车按钮及一键购买 -->
        <div class="box is-radiusless mt-3" id="goodsContent">
            <b-tabs class="block">
                <b-tab-item label="商品详情">
                    <div class="content">
                        {{ content|safe }}
                    </div>
                </b-tab-item>
                {% comments baykeshopsku_set as spucomments %}
                <b-tab-item label="商品评价">
                    <div class="is-flex is-justify-content-space-between p-2">
                        <div class="">满意度：{{ spucomments.rate }}%</div>
                        <div class="is-flex is-align-items-center">
                            <span> 评分：</span>
                            <b-rate 
                                :value="{{ spucomments.comment_choices__avg }}" 
                                disabled 
                                custom-text="{{ spucomments.comment_choices__avg }}分">
                            </b-rate>
                        </div>
                    </div>
                    <div class=" dropdown-divider"></div>
                    
                    {% for comment in spucomments.comments %}
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-32x32">
                                <img class="is-rounded" src="{{ comment.owner.baykeuser.avatar }}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <p>
                                {{ comment.owner.username }}
                                <b-rate size="is-small" :value="{{ comment.comment_choices }}" disabled custom-text="{{ comment.comment_choices }}分"></b-rate>
                            </p>
                            <p class=" is-size-7">{{ comment.add_date }}</p>
                            <p class=" has-text-grey-light">{{ comment.content }}</p>
                            
                            {% if comment.reply %}
                            <div class="box is-shadowless has-background-light">
                                <span class="has-text-danger-dark">商家回复：</span> {{ comment.reply }}
                            </div>
                            {% endif %}
                        </div>
                        
                    </article>
                    {% endfor %}
                </b-tab-item>
            </b-tabs>
        </div>
    </div>
</div>
{% endblock %}


{% block vue %}
    <script>
        var payButton = new Vue({
            el: "#payButton",
            delimiters: ['{$', '$}'],
            data: {
                skutype: Number('{{ skutype }}')
            },
            computed: {
                stock(){
                    return this.skutype ? multipleSpec._data.stock : singleSpec._data.sku.stock
                },
                sku(){
                    return this.skutype ? multipleSpec._data.sku : singleSpec._data.sku
                },
                num(){
                    return this.skutype ? multipleSpec._data.num : singleSpec._data.num
                }
            },
            methods: {
                // 加入购物车
                addCart(){
                    request({
                        url: "{% url 'shop_api:cart-list' %}",
                        method: 'post',
                        data:{
                            sku: this.sku.id,
                            num: this.num
                        }
                    }).then(res => {
                        if (res.status == 403){
                            bayke.toastMessage("is-danger", "未登录，请登录后操作！")
                            return
                        }
                        if (res.status == 201) {
                            bayke._data.cartcount += this.num
                            bayke.toastMessage('is-success', '加入购物车成功')
                        }
                    })

                },
                // 立即购买
                nowBuy(){
                    request({
                        url: '{% url "shop:order-create" %}',
                        method: 'post',
                        data: {
                            baykeshopordersku_set: [
                                {
                                    sku: this.sku.id,
                                    count: this.num
                                }
                            ],
                            total_price: 0
                        }
                    }).then(res => {
                        if (res.status == 201){
                            location.replace(`/order/${res.data.id}/confirm/`)
                        }else{
                            console.error(res)
                            bayke.toastMessage('is-error', '订单创建失败，请检查')
                        }
                    })
                }
            },
        })


        var goodsContent = new Vue({
            el: "#goodsContent",
            delimiters: ['{$', '$}'],
            data: {},
        })

    </script>
{% endblock %}
    