<style>
    .add-box{ border: solid 1px rgb(224, 224, 224); height: 150px;}
    .add-box:hover{border-color: rgb(251, 59, 59); transition: ease .5s;}
    .add-box .btn-default{position: absolute;top: 0;right: 0;}
    .active{border-color: rgb(251, 59, 59);}
    .meng-box {display: none;}
    .add-box:hover .meng-box{
        display: block; 
        position: absolute;
        top:0; 
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.755);
        transition: ease .5s;
    }
</style>


<div id="address">
    <div class="columns is-multiline">
        <div class="column is-3" v-for="addr in addressData" :key="addr.id">
            <div class="add-box is-clickable is-flex is-flex-direction-column is-align-items-start is-justify-content-center is-relative pl-5 pr-5"
                :class="{active: addr.is_default}" click="pickAddress(addr)">


                <span class="tag is-danger btn-default is-radiusless" v-if="addr.is_default">{$ text $}</span>
                <h1 class="has-text-weight-bold">{$ addr.name $}</h1>
                <p>{$ addr.phone $}</p>
                <p>{$ addr.province $}{$ addr.city $}{$ addr.county $}{$ addr.address $}</p>
            </div>
        </div>
    </div>
    {$ addressData $}
</div>

<script>
    var address = new Vue({
        el: "#address",
        delimiters: ['{$', '$}'],
        data: {
            addressData: [],
            text: "默认",
            isComponentModalActive: false,
            formProps: {}
        },
        created() {
            this.getAddress()
        },
        methods: {
            getAddress(){
                request({
                    url: '{% url "baykeshop:address-list" %}',
                    method: 'get'
                }).then(res => {
                    console.log(res)
                    this.addressData = res.data
                })
            }
        },


    })
</script>